In [1]:
print("Hello World")

Hello World

In [3]:
age = 23
print("My age is",age)

My age is 23

In [5]:
print(f"my age is :{age}")

my age is :23

In [7]:
name="Maroof"
age=23
print("My name is {} and age is {}".format(name,age))

My name is Maroof and age is 23

In [10]:
name="Maroof"
age=23
degree="B.Tech"
print("My age is {myage} and i have completed: my degree of {degree} with the name of {name}".format(myage=age,degree=degree,name=name))

My age is 23 and i have completed: my degree of B.Tech with the name of Maroof

In [11]:
print("My age is {} and i have completed: my degree of {} with the name of {}".format(age,degree,name))

My age is 23 and i have completed: my degree of B.Tech with the name of Maroof

In [12]:
print(f"My age is {age} and i have completed: my degree of {degree} with the name of {name}")

My age is 23 and i have completed: my degree of B.Tech with the name of Maroof

In [3]:
##Control Flow Statements##

In [4]:
age=18
if age>=18:
    print("You are eligible to vote")

You are eligible to vote

In [5]:
name=input("Enter your name:")

Enter your name: Maroof Hasan

In [6]:
name

'Maroof Hasan'

In [7]:
type(name)

str

In [8]:
age=int(input("Enter your age:"))

Enter your age: 23

In [9]:
age

23

In [10]:
type(age)

int

In [18]:
age=int(input("Enter age:"))
if age>=18 and age<=45:
    print("You are Young Blood")
else:
    print("you are Buddha")

Enter age: 11

you are Buddha

In [4]:
price=int(input("enter product price"))
if price > 1000:
    print("heres the final price for price {}".format(price*0.8))
else:
    price < 1000
    print("heres the final price for price {}".format(price*0.7))

enter product price 5800

heres the final price for price 4640.0

In [1]:
price=int(input("enter product price"))
if price > 3000:
    print("heres the final price for price {}".format(price*0.8))
elif price >=2000 and price <=3000:
    if price == 2999:
        print("congo you get a gift too")
    print("heres the final price for price {}".format(price*0.7))
elif price >=1000 and price <=2000:
    print("heres the final price for price {}".format(price*0.6))
else:
    print("please bring money")

enter product price 56

please bring money

In [4]:
##While Loop##
joining_age = 25
while joining_age <= 60:
    print(joining_age)
    joining_age = joining_age + 1
else:
    print("time to retire")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
time to retire

In [6]:
amt=1000
while amt != 0:
    print(amt)
    amt= amt - 100
else:
    print("no money")

1000
900
800
700
600
500
400
300
200
100
no money

In [1]:
list = ["Maroof",1,2,3,4,"Apple","Banana"]

In [2]:
type(list)

list

In [3]:
list[0]

'Maroof'

In [4]:
list[5]

'Apple'

In [5]:
for i in list:
    print(i)

Maroof
1
2
3
4
Apple
Banana

In [11]:
fruitslist = ["Mango","Cherry","Apple","Papaya","Banana"]

In [12]:
for i in fruitslist:
    print(i)

Mango
Cherry
Apple
Papaya
Banana

In [22]:
for i in fruitslist:
    print(i, end = '')
    if i=="Cherry":
        print("Fruit is Cherry")

MangoCherryFruit is Cherry
ApplePapayaBanana

In [21]:
for i in fruitslist:
    print(i)
    if i=="Cherry":
        print("Fruit is cherry")

Mango
Cherry
Fruit is cherry
Apple
Papaya
Banana

In [23]:
fruit = 'mango'

In [26]:
for i in fruit:
    print(i, end='')

mango

In [25]:
fruit[2]

'n'

In [27]:
for i in range(1,6):
    print (i)

1
2
3
4
5

In [28]:
for i in range(1,10,2):
    print (i)

1
3
5
7
9

In [29]:
for i in range(1,10,7):
    print (i)

1
8

In [35]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end='')
    print("\r")

*
**
***
****
*****
******
*******

In [43]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*")

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [1]:
fruits = ["Mango", "cherry","Apple","Papaya","Banana"]
for i in fruits:
    if i == "Apple":
        print("This is Apple")
        break
    print(i)

Mango
cherry
This is Apple

In [2]:
fruits = ["Mango", "cherry","Apple","Papaya","Banana"]
for i in fruits:
    if i == "Apple":
        print("This is Apple")
        pass
    print(i)

Mango
cherry
This is Apple
Apple
Papaya
Banana

In [3]:
fruits = ["Mango", "cherry","Apple","Papaya","Banana"]
for i in fruits:
    if i == "Apple":
        print("This is Apple")
        continue
    print(i)

Mango
cherry
This is Apple
Papaya
Banana