## Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

### MongoDB is an open source NoSQL database management program. NoSQL (Not only SQL) is used as an alternative to traditional relational databases. NoSQL databases are quite useful for working with large sets of distributed data. MongoDB is a tool that can manage document-oriented information, store or retrieve information.MongoDB is used for high-volume data storage, helping organizations store large amounts of data while still performing rapidly. Organizations also use MongoDB for its ad-hoc queries, indexing, load balancing, aggregation, server-side JavaScript execution and other features.
### Non-relational databases are therefore ideal for storing data that may be changed frequently or for applications that handle many different kinds of data. They can support rapidly developing applications requiring a dynamic database able to change quickly and to accommodate large amounts of complex, unstructured data.
### MySQL is well-recognized for its high performance, flexibility, reliable data protection, high availability, and management ease. Proper data indexing can solve the issue with performance, facilitate interaction and ensure robustness. But if your “data is unstructured and complex, or if you can’t pre-define your schema, you’d better opt for MongoDB.” And what is more, if you need to handle a large volume of data and store it as documents — MongoDB will help you to meet the challenges.

## Q2. State and Explain the features of MongoDB.

### Features of MongoDB include the following:
### Replication. A replica set is two or more MongoDB instances used to provide high availability. Replica sets are made of primary and secondary servers. The primary MongoDB server performs all the read and write operations, while the secondary replica keeps a copy of the data. If a primary replica fails, the secondary replica is then used.
### Scalability. MongoDB supports vertical and horizontal scaling. Vertical scaling works by adding more power to an existing machine, while horizontal scaling works by adding more machines to a user's resources.
### Load balancing. MongoDB handles load balancing without the need for a separate, dedicated load balancer, through either vertical or horizontal scaling.
### Schema-less. MongoDB is a schema-less database, which means the database can manage data without the need for a blueprint.
### Document. Data in MongoDB is stored in documents with key-value pairs instead of rows and columns, which makes the data more flexible when compared to SQL databases.

## Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [2]:
pip install "pymongo[srv]"

Requirement already satisfied: pymongo[srv] in /opt/conda/lib/python3.10/site-packages (4.6.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo[srv]) (2.4.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:

from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://pwskills:pwskills@cluster0.yn8iazw.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [5]:
client

MongoClient(host=['ac-mf2mcdh-shard-00-01.yn8iazw.mongodb.net:27017', 'ac-mf2mcdh-shard-00-00.yn8iazw.mongodb.net:27017', 'ac-mf2mcdh-shard-00-02.yn8iazw.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-zgl666-shard-0', tls=True, server_api=<pymongo.server_api.ServerApi object at 0x7ff566de5210>)

In [6]:
db=client["pwskills_Assignment"]

In [7]:
collection=db["Assignment_record"]

In [8]:
d1={"name":"Maroof",
    "course":"data science masters",
    "experience":"1+",
    "goals":"data scientist"
   }

In [9]:
collection.insert_one(d1)

InsertOneResult(ObjectId('6561fe35c34db62044ff56e4'), acknowledged=True)

## Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [10]:
d2={"list_course":["data science masters","web dev","java with dsa"],
       "mentors":["sudhansu","anurag","hyder"]}

In [11]:
collection.insert_one(d2)

InsertOneResult(ObjectId('6561fee3c34db62044ff56e5'), acknowledged=True)

In [12]:
d3=[{"name":"Amy","Address":"Apple st 652"},
       {"name":"Hannah","Address":"Mountain 21"},
       {"name":"Michael","Address":"Valley 345"},
       {"name":"Sandy","Address":"Ocean blvd 2"},
       {"name":"Betty","Address":"Green Grass 1"},
       {"name":"Richard","Address":"Sky st 321"},
       {"name":"Susan","Address":"One Way 98"},
       {"name":"Vicky","Address":"Yellow Garden 2"},
       {"name":"Ben","Address":"Park Lane 38"},
       {"name":"William","Address":"Central st 954"},
       {"name":"Chuck","Address":"Main Road 989"},
       {"name":"Viola","Address":"Sideway 1633"},
      ]

In [13]:
collection.insert_many(d3)

InsertManyResult([ObjectId('6561ff0bc34db62044ff56e6'), ObjectId('6561ff0bc34db62044ff56e7'), ObjectId('6561ff0bc34db62044ff56e8'), ObjectId('6561ff0bc34db62044ff56e9'), ObjectId('6561ff0bc34db62044ff56ea'), ObjectId('6561ff0bc34db62044ff56eb'), ObjectId('6561ff0bc34db62044ff56ec'), ObjectId('6561ff0bc34db62044ff56ed'), ObjectId('6561ff0bc34db62044ff56ee'), ObjectId('6561ff0bc34db62044ff56ef'), ObjectId('6561ff0bc34db62044ff56f0'), ObjectId('6561ff0bc34db62044ff56f1')], acknowledged=True)

In [14]:
collection.find_one()

{'_id': ObjectId('6561fe35c34db62044ff56e4'),
 'name': 'Maroof',
 'course': 'data science masters',
 'experience': '1+',
 'goals': 'data scientist'}

In [15]:
for i in collection.find():
    print(i)

{'_id': ObjectId('6561fe35c34db62044ff56e4'), 'name': 'Maroof', 'course': 'data science masters', 'experience': '1+', 'goals': 'data scientist'}
{'_id': ObjectId('6561fee3c34db62044ff56e5'), 'list_course': ['data science masters', 'web dev', 'java with dsa'], 'mentors': ['sudhansu', 'anurag', 'hyder']}
{'_id': ObjectId('6561ff0bc34db62044ff56e6'), 'name': 'Amy', 'Address': 'Apple st 652'}
{'_id': ObjectId('6561ff0bc34db62044ff56e7'), 'name': 'Hannah', 'Address': 'Mountain 21'}
{'_id': ObjectId('6561ff0bc34db62044ff56e8'), 'name': 'Michael', 'Address': 'Valley 345'}
{'_id': ObjectId('6561ff0bc34db62044ff56e9'), 'name': 'Sandy', 'Address': 'Ocean blvd 2'}
{'_id': ObjectId('6561ff0bc34db62044ff56ea'), 'name': 'Betty', 'Address': 'Green Grass 1'}
{'_id': ObjectId('6561ff0bc34db62044ff56eb'), 'name': 'Richard', 'Address': 'Sky st 321'}
{'_id': ObjectId('6561ff0bc34db62044ff56ec'), 'name': 'Susan', 'Address': 'One Way 98'}
{'_id': ObjectId('6561ff0bc34db62044ff56ed'), 'name': 'Vicky', 'Address': 'Yellow Garden 2'}
{'_id': ObjectId('6561ff0bc34db62044ff56ee'), 'name': 'Ben', 'Address': 'Park Lane 38'}
{'_id': ObjectId('6561ff0bc34db62044ff56ef'), 'name': 'William', 'Address': 'Central st 954'}
{'_id': ObjectId('6561ff0bc34db62044ff56f0'), 'name': 'Chuck', 'Address': 'Main Road 989'}
{'_id': ObjectId('6561ff0bc34db62044ff56f1'), 'name': 'Viola', 'Address': 'Sideway 1633'}

## Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

### The find() method in MongoDB selects documents in a collection or view and returns a cursor to the selected documents. It has two parameters: query and projection.
### db.collection.find(<query>,<projection>)
### the first ‘query‘ or filter parameter specifies the search
### the second optional ‘projection’ parameter specifies what parts of each matching document are returned

In [17]:
collection.find_one()

{'_id': ObjectId('6561fe35c34db62044ff56e4'),
 'name': 'Maroof',
 'course': 'data science masters',
 'experience': '1+',
 'goals': 'data scientist'}

In [18]:
for i in collection.find():
    print(i)

{'_id': ObjectId('6561fe35c34db62044ff56e4'), 'name': 'Maroof', 'course': 'data science masters', 'experience': '1+', 'goals': 'data scientist'}
{'_id': ObjectId('6561fee3c34db62044ff56e5'), 'list_course': ['data science masters', 'web dev', 'java with dsa'], 'mentors': ['sudhansu', 'anurag', 'hyder']}
{'_id': ObjectId('6561ff0bc34db62044ff56e6'), 'name': 'Amy', 'Address': 'Apple st 652'}
{'_id': ObjectId('6561ff0bc34db62044ff56e7'), 'name': 'Hannah', 'Address': 'Mountain 21'}
{'_id': ObjectId('6561ff0bc34db62044ff56e8'), 'name': 'Michael', 'Address': 'Valley 345'}
{'_id': ObjectId('6561ff0bc34db62044ff56e9'), 'name': 'Sandy', 'Address': 'Ocean blvd 2'}
{'_id': ObjectId('6561ff0bc34db62044ff56ea'), 'name': 'Betty', 'Address': 'Green Grass 1'}
{'_id': ObjectId('6561ff0bc34db62044ff56eb'), 'name': 'Richard', 'Address': 'Sky st 321'}
{'_id': ObjectId('6561ff0bc34db62044ff56ec'), 'name': 'Susan', 'Address': 'One Way 98'}
{'_id': ObjectId('6561ff0bc34db62044ff56ed'), 'name': 'Vicky', 'Address': 'Yellow Garden 2'}
{'_id': ObjectId('6561ff0bc34db62044ff56ee'), 'name': 'Ben', 'Address': 'Park Lane 38'}
{'_id': ObjectId('6561ff0bc34db62044ff56ef'), 'name': 'William', 'Address': 'Central st 954'}
{'_id': ObjectId('6561ff0bc34db62044ff56f0'), 'name': 'Chuck', 'Address': 'Main Road 989'}
{'_id': ObjectId('6561ff0bc34db62044ff56f1'), 'name': 'Viola', 'Address': 'Sideway 1633'}

## Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

### The sort() method specifies the order in which the query returns the matching documents from the given collection. You must apply this method to the cursor before retrieving any documents from the database. It takes a document as a parameter that contains a field: value pair that defines the sort order of the result set.

In [22]:
for i in collection.find().sort("name", 1):
    print(i)

{'_id': ObjectId('6561fee3c34db62044ff56e5'), 'list_course': ['data science masters', 'web dev', 'java with dsa'], 'mentors': ['sudhansu', 'anurag', 'hyder']}
{'_id': ObjectId('6561ff0bc34db62044ff56e6'), 'name': 'Amy', 'Address': 'Apple st 652'}
{'_id': ObjectId('6561ff0bc34db62044ff56ee'), 'name': 'Ben', 'Address': 'Park Lane 38'}
{'_id': ObjectId('6561ff0bc34db62044ff56ea'), 'name': 'Betty', 'Address': 'Green Grass 1'}
{'_id': ObjectId('6561ff0bc34db62044ff56f0'), 'name': 'Chuck', 'Address': 'Main Road 989'}
{'_id': ObjectId('6561ff0bc34db62044ff56e7'), 'name': 'Hannah', 'Address': 'Mountain 21'}
{'_id': ObjectId('6561fe35c34db62044ff56e4'), 'name': 'Maroof', 'course': 'data science masters', 'experience': '1+', 'goals': 'data scientist'}
{'_id': ObjectId('6561ff0bc34db62044ff56e8'), 'name': 'Michael', 'Address': 'Valley 345'}
{'_id': ObjectId('6561ff0bc34db62044ff56eb'), 'name': 'Richard', 'Address': 'Sky st 321'}
{'_id': ObjectId('6561ff0bc34db62044ff56e9'), 'name': 'Sandy', 'Address': 'Ocean blvd 2'}
{'_id': ObjectId('6561ff0bc34db62044ff56ec'), 'name': 'Susan', 'Address': 'One Way 98'}
{'_id': ObjectId('6561ff0bc34db62044ff56ed'), 'name': 'Vicky', 'Address': 'Yellow Garden 2'}
{'_id': ObjectId('6561ff0bc34db62044ff56f1'), 'name': 'Viola', 'Address': 'Sideway 1633'}
{'_id': ObjectId('6561ff0bc34db62044ff56ef'), 'name': 'William', 'Address': 'Central st 954'}

## Q7. Explain why delete_one(), delete_many(), and drop() is used.

### In MongoDB, a single document can be deleted by the method delete_one(). The first parameter of the method would be a query object which defines the document to be deleted. If there are multiple documents matching the filter query, only the first appeared document would be deleted. 
### Delete_many() is used when one needs to delete more than one document. A query object containing which document to be deleted is created and is passed as the first parameter to the delete_many().
### In MongoDB, db.collection.drop() method is used to drop a collection from a database. It completely removes a collection from the database and does not leave any indexes associated with the dropped collections. The db.collection.drop() method does not take any argument and produce an error when it is called with an argument. This method removes all the indexes associated with the dropped collection.